tool/CSVToKafka.json
{"flowContents":{"identifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49","instanceIdentifier":"96e90a9a-0196-1000-b906-7b285030e219","name":"CSVToKafka","comments":"","position":{"x":-69.5,"y":-183.8000030517578},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"956496df-a9e1-37ca-9780-113a92e311b3","instanceIdentifier":"4c88a0cd-42e5-3096-f86f-a9a7b19bab56","name":"GetFile","comments":"","position":{"x":-424.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"10 sec","Polling Interval":"5 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"},{"identifier":"66698144-51a7-3432-b09b-5f2e3dbd5373","instanceIdentifier":"dc80e869-18ae-360b-8719-d8b8db4003d4","name":"PublishKafka","comments":"","position":{"x":-424.0,"y":-8.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.4.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":"dc5b44d4-1df3-375f-bd8b-880f23ee7600","Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"test-topic","Kafka Key":null,"partition":null,"Kafka Connection Service":"e8532d30-d8b5-3a5e-b40c-91137d33324f","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":"34f9a194-d9cd-37b4-9be8-7160cb55886f","Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dde03f8f-c94e-3d39-a860-6207e014666f","instanceIdentifier":"1d9f4883-eb9c-3bc0-ad5e-66f68a124e57","name":"","source":{"id":"956496df-a9e1-37ca-9780-113a92e311b3","type":"PROCESSOR","groupId":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49","name":"GetFile","comments":"","instanceIdentifier":"4c88a0cd-42e5-3096-f86f-a9a7b19bab56"},"destination":{"id":"66698144-51a7-3432-b09b-5f2e3dbd5373","type":"PROCESSOR","groupId":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49","name":"PublishKafka","comments":"","instanceIdentifier":"dc80e869-18ae-360b-8719-d8b8db4003d4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"dc5b44d4-1df3-375f-bd8b-880f23ee7600","instanceIdentifier":"fa84baec-2b1f-3497-d93a-68518e1883a4","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"},{"identifier":"34f9a194-d9cd-37b4-9be8-7160cb55886f","instanceIdentifier":"d513f5d9-78b7-3c31-dc16-ed22493b746e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"},{"identifier":"e8532d30-d8b5-3a5e-b40c-91137d33324f","instanceIdentifier":"b1bbc3b3-a686-3a3a-a04e-6638a7b18f10","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-aws-nar","version":"2.4.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":"\"\"","max.poll.records":"10000","sasl.mechanism":"PLAIN","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka:29092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c69fee2-8bf5-3e4f-8b3e-8db72068bc49"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}